@model IEnumerable<ContosoUniversity.Models.SchoolViewModels.EnrollmentDateGroup>

@{
    ViewData["Title"] = "Student Body Statistics";
}

<h2>Contact Information</h2>
<p> Tatiana Chetina </p>
<p> che13019@byui.edu</p>

