@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
   
     
        <p>
            <img src="https://images.pexels.com/photos/356086/pexels-photo-356086.jpeg?cs=srgb&dl=architecture-building-campus-356086.jpg&fm=jpg" width="1200" height="600">
        </p>

    
</div>